In [ ]:
import requests
url = "https://finance.naver.com/item/sise_day.naver?code=005930&pag"
page = requests.get(url)
print(page.text)

In [ ]:
my_headers = {'user-agent': 'Mozilla/5.0'}
page = requests.get(url, headers = my_headers)
print(page.text)

In [ ]:
import pandas as pd
pages = pd.read_html(page.text)
type(pages)

In [ ]:
len(pages)

In [ ]:
pages[0]

In [ ]:
new_url = 'https://finance.naver.com/item/sise_day.naver?code=005930&page=2'
all_tables = pd.DataFrame()

In [ ]:
for page_number in range(1, 2):
  # 페이지 번호 추가한 주소 완성
  full_url = new_url + str(page_number)
  # 주소 확인하기
  print(f'{page_number} 번째 페이지 읽어오기({full_url})')
  # HTTP 요청 전송 후 응답 받아오기
  page = requests.get(full_url, headers=my_headers)
  # 테이블 추출
  table = pd.read_html(page.text)[0]
  # 수행할 내용 확인
  print(f'전체 {len(all_tables.index)} 줄에 {len(table.index)} 줄추가')
  # 데이터 축적용 데이터프레임에 테이블 추가
  all_tables = pd.concat([all_tables, table])

In [ ]:
all_tables

In [ ]:
all_tables.dropna(inplace=True)
all_tables

In [ ]:
for page_number in range(1, 11):
  # 페이지 번호 추가한 주소 완성
  full_url = new_url + str(page_number)
  # 주소 확인하기
  print(f'{page_number} 번째 페이지 읽어오기({full_url})')
  # HTTP 요청 전송 후 응답 받아오기
  page = requests.get(full_url, headers=my_headers)
  # 테이블 추출
  table = pd.read_html(page.text)[0]
  # 수행할 내용 확인
  print(f'전체 {len(all_tables.index)} 줄에 {len(table.index)} 줄추가')
  # 데이터 축적용 데이터프레임에 테이블 추가
  all_tables = pd.concat([all_tables, table])

In [ ]:
all_tables.rename(columns={'날짜': 'date','종가': 'end_price', '시가': 'start_price', '고가': 'highest_price', '저가': 'lowest_price'}, inplace=True)
all_tables

In [ ]:
all_tables.drop(['전일비', '거래량'], axis=1, inplace=True)

In [ ]:
all_tables['midian_price'] = all_tables['highest_price'] - ((all_tables['highest_price']- all_tables['lowest_price']) /2)
all_tables

In [ ]:
all_tables['month'] = all_tables['date'].str[0:7]
all_tables

In [ ]:
all_tables.set_index('date', inplace=True)
all_tables.sort_index(inplace=True)
all_tables

In [ ]:
all_tables.plot.line()

In [ ]:
all_tables[:15].plot.line(rot=45)

In [ ]:
all_tables.boxplot(column=['midian_price'], by=['month'])